{% extends "clientes/base_cliente_lista.html" %}
{% block title %}Productos{% endblock title %}
{% block content %}
{% include "components/nav.html" %}
{% block producto %}
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Productos
      </h1>
      <ol class="breadcrumb">
        <li><a href=""><i class="fa fa-dashboard"></i>Inicio</a></li>
        <li><a href="{% url 'producto:producto-list' %}">productos</a></li>
        <li class="active">Nuevo producto</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <!-- START ALERTS AND CALLOUTS -->
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <div class="box-header with-border">

              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              </div>

            </div>
            <div class="box-body">

              <div class="row">
                <div class="col-lg-12">
                  <form class="form-horizontal" method="post">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-xs-12 col-sm-10">
                        <div
                          class="form-group has-success has-feedback  {% if form.marca.errors %} has-error {% endif %}">
                          <label class="control-label col-sm-2" for="inputSuccess3">{{ form.marca.label_tag }}</label>
                          <div class="col-sm-6">
                            <select name="marca" class="form-control" placeholder="Marca" required id="id_marca">
                              {% for a in form.marca %}
                              {{a}}
                              {% endfor%}
                            </select>
                          </div>
                        </div>
                        <div
                          class="form-group has-success has-feedback  {% if form.tipo_de_producto.errors %} has-error {% endif %}">
                          <label class="control-label col-sm-2" for="inputSuccess3">{{ form.tipo_de_producto.label_tag }}</label>
                          <div class="col-sm-6">
                            <select name="tipo_de_producto" class="form-control" placeholder="tipo_de_producto" required id="id_tipo_de_producto">
                              {% for a in form.tipo_de_producto %}
                              {{a}}
                              {% endfor%}
                            </select>
                          </div>
                        </div>
                        <div
                          class="form-group has-success has-feedback  {% if form.referencia.errors %} has-error {% endif %}">
                          <label class="control-label col-sm-2"
                            for="inputSuccess3">{{ form.referencia.label_tag }}</label>
                          <div class="col-sm-6">
                            <input type="text" name="referencia" class="form-control"
                              value='{% if form.referencia.value %}{{ form.referencia.value }}{% endif %}'
                              data-toggle="tooltip" data-placement="top" title='{{ form.referencia.errors.as_text}}'
                              autofocus='true' id="disabledInput" type="text">
                          </div>
                        </div>
                        <div
                          class="form-group has-success has-feedback  {% if form.nombre.errors %} has-error {% endif %}">
                          <label class="control-label col-sm-2" for="inputSuccess3">{{ form.nombre.label_tag }}</label>
                          <div class="col-sm-6">
                            <input type="text" id="disabledTextInput" name="nombre" class="form-control"
                              value='{% if form.nombre.value %}{{ form.nombre.value }}{% endif %}' data-toggle="tooltip"
                              data-placement="top" title='{{ form.nombre.errors.as_text}}' autofocus='true'>
                          </div>
                        </div>
                        <div
                          class="form-group has-success has-feedback  {% if form.precio.errors %} has-error {% endif %}">
                          <label class="control-label col-sm-2" for="inputSuccess3">{{ form.precio.label_tag }}</label>
                          <div class="col-sm-6">
                            <input type="text" id="disabledTextInput" name="precio" class="form-control"
                              value='{% if form.precio.value %}{{ form.precio.value }}{% endif %}' data-toggle="tooltip"
                              data-placement="top" title='{{ form.precio.errors.as_text}}' autofocus='true'>
                          </div>
                        </div>
                        <div
                          class="form-group has-success has-feedback  {% if form.cantidad.errors %} has-error {% endif %}">
                          <label class="control-label col-sm-2"
                            for="inputSuccess3">{{ form.cantidad.label_tag }}</label>
                          <div class="col-sm-6">
                            <input type="text" id="disabledTextInput" name="cantidad" class="form-control"
                              value='{% if form.cantidad.value %}{{ form.cantidad.value }}{% endif %}'
                              data-toggle="tooltip" data-placement="top" title='{{ form.cantidad.errors.as_text}}'
                              autofocus='true'>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel-footer color-footer">
                      <button type="submit" class="btn btn-primary">
                        Guardar
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  {% endblock producto %}
  {% endblock content %}