{% extends "clientes/base_cliente_lista.html" %}
{% block title %}Productos{% endblock title %}
{% block content %}
{% include "components/nav.html" %}
{% block producto %} 
<div class="wrapper"> 
      <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
        <!-- Main content -->
    <section class="content">          
      <!-- START ALERTS AND CALLOUTS -->     
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <div class="box-header with-border">
              <i class="fa fa-bullhorn"></i>             
            </div>
              <div class="box-body">
                  <div class="callout callout-danger">                    
                    <h1>Eliminar</h1>
                    <form method="POST">
                    {% csrf_token %}
                      <p class="coloreliminar">¿Desea eliminar al producto "{{ object.nombre }}"?</p>
                      <input type="submit" value="Sí" class="btn btn-warning"> 
                      <a href="{% url 'producto:producto-list' %}" class="btn btn-info">No</a>
                    </form>                        
                  </div>                                   
              </div>
          </div>
        </div>
    </section>
  </div>   
{% endblock producto %}
{% endblock content %}

