{% extends "clientes/base_cliente_lista.html" %}
{% block title %}Tipos de producto{% endblock title %}
{% block content %}
{% include "components/nav.html" %}
{% block tipo_producto %}
<div class="wrapper">
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Main content -->
		<section class="content">
			<!-- START ALERTS AND CALLOUTS -->
			<div class="row">
				<div class="col-md-12">
					<div class="box box-info">

						<div class="box-header with-border">
							<a href="{% url 'tipo_producto:tipo_producto-list' %}" class="btn btn-success">
								<span class="glyphicon glyphicon-chevron-left"></span> Regresar
							</a>
							<div class="box-tools pull-right">
								<button class="btn btn-box-tool" data-widget="collapse"><i
										class="fa fa-minus"></i></button>
							</div>
						</div>
						<div class="box-body">
							<table class="table table-striped table table-hover ">
								<tbody>
									<tr class="success">
										<td><strong>Nombre:</strong></td>
										<td>{{ object.nombre }}</td>
									</tr>									
								</tbody>
							</table>
						</div>
					</div>
				</div>
		</section>
	</div>
	{% endblock tipo_producto %}
	{% endblock content %}