{% extends "clientes/base_cliente_lista.html" %}
{% block title %}Tipos de producto{% endblock title %}
{% block content %}
{% include "components/nav.html" %}
{% block tipo_producto %}
<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Tipos de producto
      </h1>
      <ol class="breadcrumb">
        <li><a href=""><i class="fa fa-dashboard"></i>Inicio</a></li>
        <li class="active">Tipos de procduto</li>
        <li><a href="{% url 'tipo_producto:create' %}">Nuevo tipo de producto</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"><a href="{% url 'tipo_producto:create' %}" class="btn btn-success">
                  Nuevo tipo de producto
                </a></h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div class="box-body">
              <table id="example1"  class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>N°</th>
                    <th>Nombre</th>
                  </tr>
                </thead>
                <tbody>
                  {% for tipo_producto in object_list %}
                  <tr>
                    <td>{{ forloop.counter}}</td>
                    <td>{{ tipo_producto.nombre }} </td>
                    <td class="text-right">
                      <a href="{% url 'tipo_producto:detail' tipo_producto.id %}" class="btn btn-success"><span class="glyphicon glyphicon-eye-open"></span></a>
                      <a href="{% url 'tipo_producto:update' tipo_producto.id %}" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
                      <a href="{% url 'tipo_producto:delete' tipo_producto.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

    {% endblock tipo_producto %}
    {% endblock content %}