<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{% block title %}{% endblock title %}</title></head>
	{% block css %}{% endblock css %}
 <body class="hold-transition skin-blue sidebar-mini">
	{% block content %}
	{% endblock content %}
	{% block js %}
	{% endblock js %}
</html>