{% extends "clientes/base_cliente_lista.html" %}
{% block title %}Marcas{% endblock title %}
{% block content %}
{% include "components/nav.html" %}
{% block marca %}
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Crear marca
      </h1>
      <ol class="breadcrumb">
        <li><a href=""><i class="fa fa-dashboard"></i>Inicio</a></li>
        <li><a href="{% url 'marca:marca-list' %}">Marcas</a></li>
        <li class="active">Nueva marca</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <!-- START ALERTS AND CALLOUTS -->
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <div class="box-header with-border">

              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              </div>

            </div>
            <div class="box-body">

              <div class="row">
                <div class="col-lg-12">
                  <form class="form-horizontal" method="post">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-xs-12 col-sm-10">
                        <div
                          class="form-group has-success has-feedback  {% if form.nombre.errors %} has-error {% endif %}">
                          <label class="control-label col-sm-2"
                            for="inputSuccess3">{{ form.nombre.label_tag }}</label>
                          <div class="col-sm-6">
                            <input type="text" name="nombre" class="form-control"
                              value='{% if form.nombre.value %}{{ form.nombre.value }}{% endif %}'
                              data-toggle="tooltip" data-placement="top"
                              title='{{ form.nombre.errors.as_text}}' autofocus='true' id="disabledInput"
                              type="text">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel-footer color-footer">
                      <button type="submit" class="btn btn-primary">
                        Guardar
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  
  {% endblock marca %}
  {% endblock content %}