{% extends "clientes/base_cliente_lista.html" %}
{% block title %}Clientes{% endblock title %}
{% block content %}
{% include "components/nav.html" %}
{% block producto %}
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Clientes
      </h1>
      <ol class="breadcrumb">
        <li><a href=""><i class="fa fa-dashboard"></i>Inicio</a></li>
        <li><a href="{% url 'cliente:cliente-list' %}">Clientes</a></li>
        <li class="active">Nuevo Cliente</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <!-- START ALERTS AND CALLOUTS -->
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <div class="box-header with-border">

              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              </div>

            </div>
            <div class="box-body">

              <div class="row">
                <div class="col-lg-12">
                  <form class="form-horizontal" method="post">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-xs-12 col-sm-10">
                        <div
                          class="form-group has-success has-feedback  {% if form.documento_identidad.errors %} has-error {% endif %}">
                          <label class="control-label col-sm-2"
                            for="inputSuccess3">{{ form.documento_identidad.label_tag }}</label>
                          <div class="col-sm-6">
                            <input type="text" name="documento_identidad" class="form-control"
                              value='{% if form.documento_identidad.value %}{{ form.documento_identidad.value }}{% endif %}'
                              data-toggle="tooltip" data-placement="top"
                              title='{{ form.documento_identidad.errors.as_text}}' autofocus='true' id="disabledInput"
                              type="text">
                          </div>
                        </div>
                        <div
                          class="form-group has-success has-feedback  {% if form.primer_nombre.errors %} has-error {% endif %}">
                          <label class="control-label col-sm-2" for="inputSuccess3">{{ form.primer_nombre.label_tag }}</label>
                          <div class="col-sm-6">
                            <input type="text" id="disabledTextInput" name="primer_nombre" class="form-control"
                              value='{% if form.primer_nombre.value %}{{ form.primer_nombre.value }}{% endif %}' data-toggle="tooltip"
                              data-placement="top" title='{{ form.primer_nombre.errors.as_text}}' autofocus='true'>
                          </div>
                        </div>
                        <div
                          class="form-group has-success has-feedback  {% if form.segundo_nombre.errors %} has-error {% endif %}">
                          <label class="control-label col-sm-2" for="inputSuccess3">{{ form.segundo_nombre.label_tag }}</label>
                          <div class="col-sm-6">
                            <input type="text" id="disabledTextInput" name="segundo_nombre" class="form-control"
                              value='{% if form.segundo_nombre.value %}{{ form.segundo_nombre.value }}{% endif %}' data-toggle="tooltip"
                              data-placement="top" title='{{ form.segundo_nombre.errors.as_text}}' autofocus='true'>
                          </div>
                        </div>
                        <div
                          class="form-group has-success has-feedback  {% if form.primer_apellido.errors %} has-error {% endif %}">
                          <label class="control-label col-sm-2"
                            for="inputSuccess3">{{ form.primer_apellido.label_tag }}</label>
                          <div class="col-sm-6">
                            <input type="text" id="disabledTextInput" name="primer_apellido" class="form-control"
                              value='{% if form.primer_apellido.value %}{{ form.primer_apellido.value }}{% endif %}'
                              data-toggle="tooltip" data-placement="top" title='{{ form.primer_apellido.errors.as_text}}'
                              autofocus='true'>
                          </div>
                        </div>
                        <div
                          class="form-group has-success has-feedback  {% if form.segundo_apellido.errors %} has-error {% endif %}">
                          <label class="control-label col-sm-2"
                            for="inputSuccess3">{{ form.segundo_apellido.label_tag }}</label>
                          <div class="col-sm-6">
                            <input type="text" id="disabledTextInput" name="segundo_apellido" class="form-control"
                              value='{% if form.segundo_apellido.value %}{{ form.segundo_apellido.value }}{% endif %}'
                              data-toggle="tooltip" data-placement="top" title='{{ form.segundo_apellido.errors.as_text}}'
                              autofocus='true'>
                          </div>
                        </div>
                        <div
                          class="form-group has-success has-feedback  {% if form.correo_electronico.errors %} has-error {% endif %}">
                          <label class="control-label col-sm-2"
                            for="inputSuccess3">{{ form.correo_electronico.label_tag }}</label>
                          <div class="col-sm-6">
                            <input type="text" id="disabledTextInput" name="correo_electronico" class="form-control"
                              value='{% if form.correo_electronico.value %}{{ form.correo_electronico.value }}{% endif %}'
                              data-toggle="tooltip" data-placement="top" title='{{ form.correo_electronico.errors.as_text}}'
                              autofocus='true'>
                          </div>
                        </div>
                        <div
                          class="form-group has-success has-feedback  {% if form.direccion.errors %} has-error {% endif %}">
                          <label class="control-label col-sm-2"
                            for="inputSuccess3">{{ form.direccion.label_tag }}</label>
                          <div class="col-sm-6">
                            <input type="text" id="disabledTextInput" name="direccion" class="form-control"
                              value='{% if form.direccion.value %}{{ form.direccion.value }}{% endif %}'
                              data-toggle="tooltip" data-placement="top" title='{{ form.direccion.errors.as_text}}'
                              autofocus='true'>
                          </div>
                        </div>
                        <div
                          class="form-group has-success has-feedback  {% if form.telefono.errors %} has-error {% endif %}">
                          <label class="control-label col-sm-2"
                            for="inputSuccess3">{{ form.telefono.label_tag }}</label>
                          <div class="col-sm-6">
                            <input type="number" id="disabledTextInput" name="telefono" class="form-control"
                              value='{% if form.telefono.value %}{{ form.telefono.value }}{% endif %}'
                              data-toggle="tooltip" data-placement="top" title='{{ form.telefono.errors.as_text}}'
                              autofocus='true'>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel-footer color-footer">
                      <button type="submit" class="btn btn-primary">
                        Guardar
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  
  {% endblock producto %}
  {% endblock content %}