{% extends "clientes/base_cliente_lista.html" %}
{% block title %}Clientes{% endblock title %}
{% block content %}
{% include "components/nav.html" %}
{% block producto %}
<div class="wrapper">
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Main content -->
		<section class="content">
			<!-- START ALERTS AND CALLOUTS -->
			<div class="row">
				<div class="col-md-12">
					<div class="box box-info">

						<div class="box-header with-border">
							<a href="{% url 'cliente:cliente-list' %}" class="btn btn-success">
								<span class="glyphicon glyphicon-chevron-left"></span> Regresar
							</a>
							<div class="box-tools pull-right">
								<button class="btn btn-box-tool" data-widget="collapse"><i
										class="fa fa-minus"></i></button>
							</div>
						</div>
						<div class="box-body">
							<table class="table table-striped table table-hover ">
								<tbody>
									<tr class="success">
										<td><strong>Documento de identidad:</strong></td>
										<td>{{ object.documento_identidad }}</td>
									</tr>
									<tr class="success">
										<td><strong>Primer nombre:</strong></td>
										<td>{{ object.primer_nombre }} </td>
									</tr>
									<tr class="success">
										<td><strong>Segundo nombre:</strong></td>
										<td>{{ object.segundo_nombre }} </td>
									</tr>
									<tr class="success">
										<td><strong>Primer apellido:</strong></td>
										<td>{{ object.primer_apellido }}</td>
									</tr>
									<tr class="success">
										<td><strong>Segundo apellido:</strong></td>
										<td>{{ object.segundo_apellido }}</td>
									</tr>
									<tr class="success">
										<td><strong>Correo electrónico:</strong></td>
										<td>{{ object.correo_electronico }}</td>
									</tr>

									<tr class="success">
										<td><strong>Dirección:</strong></td>
										<td>{{ object.direccion }}</td>
									</tr>
									<tr class="success">
										<td><strong>Teléfono:</strong> </td>
										<td>{{ object.telefono}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
		</section>
	</div>
	{% endblock producto %}
	{% endblock content %}