{% extends "clientes/base_cliente_lista.html" %}
{% block title %}Clientes{% endblock title %}
{% block content %}
{% include "components/nav.html" %}
{% block producto %}
<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Clientes
      </h1>
      <ol class="breadcrumb">
        <li><a href=""><i class="fa fa-dashboard"></i>Inicio</a></li>
        <li class="active">Clientes</li>
        <li><a href="{% url 'cliente:create' %}">Nuevo Cliente</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"><a href="{% url 'cliente:create' %}" class="btn btn-success">
                  Nuevo Cliente
                </a></h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div class="box-body">
              <table id="example1"  class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>N°</th>
                    <th>Documento de identidad</th>
                    <th>Nombre completo</th>
                    <th>Teléfono</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for clientes in object_list %}
                  <tr>
                    <td>{{ forloop.counter}}</td>
                    <td>{{ clientes.documento_identidad }}</td>
                    <td>{{ clientes.nombre_completo }} </td>
                    <td>{{ clientes.telefono}}</td>
                    <td class="text-right">
                      <a href="{% url 'cliente:detail' clientes.id %}" class="btn btn-success"><span class="glyphicon glyphicon-eye-open"></span></a>
                      <a href="{% url 'cliente:update' clientes.id %}" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
                      <a href="{% url 'cliente:delete' clientes.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

    {% endblock producto %}
    {% endblock content %}